<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <style>
      table, th, td {
        border: 1px solid black;
      }
  </style>
  <body>
    <header>
       <h1><%= t('mailer.rent_mailer.rent_created.title') %> </h1>
       <p><%= t('mailer.rent_mailer.rent_created.main_message', book: @rent.book.title) %></p>
       
    </header>
    <section>
       <article>
           <h2><%= t('activerecord.attributes.rent.created_at') %> </h2>
           <p> <%= @rent.created_at %> </p>
       </article>
    </section>
    <section>
       <article>
           <h2><%= t('activerecord.attributes.rent.init_date') %></h2>
          <p> <%= @rent.init_date %> </p>
       </article>
    </section>

    <footer>
       <table>
        <tr>
          <th><%= t('activerecord.attributes.book.gender') %></th>
          <th><%=  t('activerecord.attributes.book.year') %></th> 
          <th><%= t('activerecord.attributes.book.author') %></th>
        </tr>
        <tr>
          <td><%= @rent.book.gender %></td>
          <td><%= @rent.book.year %></td> 
          <td><%= @rent.book.author %></td>
        </tr>
      </table>
    </footer>
  </body>
</html>
